@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #c2cee6, #6785c1);
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #0a2075;
}

.container form .form-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .form-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.form-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.form-details .input-box input:focus,
.form-details .input-box input:valid {
    border-color: #6785c1;
}

form .button-container {
    display: flex;
    flex-direction: row;
}

form .button-container .button{
    height: 45px;
    margin: 45px 0;
    width: 100%;
    margin:5px;
}

form .button-container .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #0a2075;
}

form .button input:hover {
    background-color: #0080b1;
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    form .form-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .button-container{
        flex-direction: column;
    }
}


@media (max-width: 878px) {
    .container {
        max-width: 100%;
    }
    form .form-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .button-container{
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    form .form-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .button-container{
        flex-direction: column;
    }
}